


// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";




@import "ionic.globals";

$text-color:        #000;
$background-color:  white;
$loading-md-box-shadow: white;
$loading-md-background: transparent;
$toolbar-ios-title-text-align:center;
$action-sheet-md-title-color: #191919;
$action-sheet-md-background:#f5f6fa;
$action-sheet-wp-box-shadow:0 -2px 6px 0 ;
$action-sheet-md-title-font-size: 22px;
$action-sheet-md-title-padding: 15px 0 15px 15px;
$action-sheet-md-button-min-height:40px;
$action-sheet-md-button-text-color:grey;
$action-sheet-md-button-padding: 0 0 0 12px;
//$action-sheet-md-icon-font-size:4.0rem;
$action-sheet-md-icon-margin: 0px 15px 3px 0;
$fab-md-text-color:black;
$toast-md-title-padding:auto;
$toast-md-background:transparent;
$toast-md-title-color:white;
$fab-md-background-color:#F49C3F;
$radio-md-color-on:#44c372;
$alert-md-title-font-size:20px;
$alert-md-sub-title-font-size:16px;
//$refresher-height:-10px!important;
$refresher-icon-font-size:20px;
$refresher-text-font-size:10px;
$refresher-border-color:none;


.searchbar-search-icon {
  display:none;
}
.searchbar-clear-icon {
  background-image: url("../assets/imgs/searchclose.png")!important;
}

.searchbar{
  margin-left:-8px;
  margin-top:1px;
  height:38px;
  
 // margin-right:-5px;
  width:104%;
  // border: 0 !important;
   
}
.searchbar-input {
    border: 0 !important;
    box-shadow: none !important;
}

//$searchbar-md-input-box-shadow: 0px 0px 0px 1px #FF4500;


$appcolor: #ffffff;

$colors: (
  primary:    black,
  secondary:  #32db64,
  danger:     #1e5be1,
  light:      #f4f4f4,
  dark:       #1e5be1,
  shadow:     #bf4080,
  shadowlite: #f9ebf2,
  appcolor: #ffffff,
  navcolor:transparent,


  //color options
  

);

$shadowlite: #f9ebf2;
$shadow: #bf4080;
  
  //menu background color
  $menu-background: rgba(255, 255, 255, 0);

 //customise header color here
  $header:     #2664f9;

  //customise button color here
  $button-color: #44c372;

  //customise toggle-button color here
  $toggle-button-color: #25242c;

  //customise text color here
  $side-heading-color:  #25242c;

  $searchbar-ios-input-placeholder-color: #999;
  $searchbar-ios-input-search-icon-color: #999;
  $searchbar-md-input-placeholder-color: #999;
  $searchbar-md-input-search-icon-color : #999;

@import "ionic.theme.default";


$ionicons-font-path: "../assets/fonts";
@import "ionicons";

 