page-product {
  background:transparent;
ion-spinner{
  margin-top:6px;
}

.homenone{
    background-color: #f4f4f4;
    vertical-align: middle;
    height:100%;
    width:100%;
    display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
   

.spinner {
  -webkit-animation: rotator 1.4s linear infinite;
          animation: rotator 1.4s linear infinite;
}

@-webkit-keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}

@keyframes rotator {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
          animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
  0% {
    stroke: red;
  }
  14.285714286% {
    stroke: orange;
  }
  28.571428572% {
    stroke: yellow;
  }
  42.857142858% {
    stroke: green;
  }
  57.142857144% {
    stroke: blue;
  }
  71.42857143% {
    stroke: indigo;
  }
  100% {
    stroke: violet;
  }
}

@keyframes colors {
  0% {
    stroke: red;
  }
  14.285714286% {
    stroke: orange;
  }
  28.571428572% {
    stroke: yellow;
  }
  42.857142858% {
    stroke: green;
  }
  57.142857144% {
    stroke: blue;
  }
  71.42857143% {
    stroke: indigo;
  }
  100% {
    stroke: violet;
  }
}
@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}
@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46.75;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

}

.product-info{
     //margin-top:8px;
     position:relative;
      
      
      h2 {
           
            color: black;
            padding-left:10px;
            
        }

  
            

            .name{
                font-size:22px; text-align: left;color:#2a231a;word-wrap: break-word !important;white-space: initial;padding-left:19px;padding-right:10px;font-weight:500;
            }
               .fav_circle{
              position: absolute;
              top:50px;
           
            }
}

   
    .value-button {
  display: inline-block;
  margin-bottom:4px;
  margin: 0px;
  width: 50px;
  height:50px;
  text-align: center;
  vertical-align: middle;
  //padding: 11px 0;
  //background: #eee;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
    .price{
      background:#ffffff;
     // margin-bottom:-2px;
      
         .price-delete {
                color: grey;
                margin: 0 5px 0 10px;
                font-size: 18px;
                color:#c2c3c5;
            }
            .price-regular {
                margin: 0 0 0 15px;
                font-size:  24px;
                font-weight: 500;
                color: #444444;
            }
             .price-sale {
                margin: 0 0 0 15px;
                font-size:  22px;
                font-weight: 500;
                color: #ff6b6e
            }
           

   }
   
     

    
   
    .row.unlimited-items {
        flex-wrap: wrap;
    }
    .row.unlimited-items .col {
        flex: none;
        width: 33%;
    }
    .productdetail{
      padding-bottom:80px;
        background:white;
     
      h2 {
           font-size: 18px;
          //color: #222;
          font-weight:400;
         margin: 8px 15px 8px 10px!important;
      }
      h3 {
          font-size: 18px;
          color: black;
          font-weight:390;
          margin: 8px 15px 8px 10px!important;
      }
      li{
         font-size: 16px; 
          text-align: left;
         // text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3;
          //max-height:200px; -webkit-box-orient: vertical;
         // margin: 2px 15px 8px 13px;
          font-weight: 300;
         color: #2a231a;
      } 
      p {
          
          font-size: 16px; 
          text-align: left;
          text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3;
          //max-height:200px; -webkit-box-orient: vertical;
          margin: 2px 15px 8px 13px;
          font-weight: 300;
         color: #2a231a;
      }
    } 
   
    .stock {
        z-index: 1;
        border: 1px solid #ddd;
        height: 32px;
        background: #F44336;
        float: left;
        margin-right: 10%;
        color: #ffffff;
        margin-left: -1px;
        position: absolute;
        top: 75px;
    }
    .item.item-block .item-inner {
        padding-right: 0;
        border-bottom: none;
    }
    .variation-product {
        margin: 5px;
        ion-label {
            color: #000;
        }
        .variation-title {
            background-color: #f2f2f2;
        }
        .item {
            border: 2px solid #ececec;
            background-color: #f9f9f9;
        }
        ion-select {
            font-size: 12px;
            color: #ffa41c;
        }
    }

    .item-background {
        background-color: white;
        text-align: justify;
        margin-bottom:5px;
       // border: 1px solid #f7f7f7;
        //font-size:20px;
       
    }
   

    
   
   
}



